[Unit]
Description=Cosmovisor for a GoNative Node
After=network-online.target

[Service]
User=validator
ExecStart=ExecStart=cosmovisor run start
Restart=always
RestartSec=10
LimitNOFILE=infinity
LimitNPROC=infinity
SyslogIdentifier=NativeNode

Environment="DAEMON_HOME=$HOME/.gonative"
Environment="DAEMON_NAME=gonative"
Environment="DAEMON_ALLOW_DOWNLOAD_BINARIES=false"
Environment="DAEMON_RESTART_AFTER_UPGRADE=true"

[Install]
WantedBy=multi-user.target
