[Unit]
Description=gonative Daemon
After=network-online.target

[Service]
User=validator
ExecStart=$(which cosmovisor) run start
Restart=always
RestartSec=6
LimitNOFILE=infinity
LimitNPROC=infinity
Environment="DAEMON_HOME=$HOME/.gonative"
Environment="DAEMON_NAME=gonative"
Environment="DAEMON_ALLOW_DOWNLOAD_BINARIES=false"
Environment="DAEMON_RESTART_AFTER_UPGRADE=true"

[Install]
WantedBy=multi-user.target
